<mat-card class="col-md col-sm-12 col-xs-12" *ngIf="this.isSelfLoaded">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row" *ngIf="showOptions()">
      <div class="col" align="right">
        <mat-checkbox [checked]="initVar()" (change)="varChange($event)"
          >variable</mat-checkbox
        >
      </div>
      <div class="col">
        <mat-checkbox [checked]="initFix()" (change)="fixChange($event)"
          >fixe</mat-checkbox
        >
      </div>
    </div>
    <div class="row">
      <div
        class="data col-md col-sm-12 col-xs-12"
        *ngIf="showTable() && data.length > 0"
      >
        <table>
          <tr *ngFor="let item of data">
            <td>
              <mat-icon>{{ item.icon }}</mat-icon>
            </td>
            <td>{{ item.bezeichnung }}</td>
            <td style="text-align: right">{{ item.summe | currency }}</td>
          </tr>
        </table>
      </div>
      <div
        class="graph col-md col-sm-12 col-xs-12"
        *ngIf="showGraph() && data.length > 0"
      >
        <div echarts [options]="chartOptions"></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
