table {
  width: 100%;
}
tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  :last-child {
    border-bottom: none;
  }
  td {
    padding: 5px;
  }
}

.data {
  padding: 30px;

  > div {
    padding: 5px;
  }
}
.graph {
  margin: auto;
}
