<mat-card class="col-md col-sm-12 col-xs-12">
  <mat-card-header>
    <mat-card-title>Entwicklung Vermögen</mat-card-title>
    <mat-card-subtitle *ngIf="isInklVermoegen">(inkl. Rücklagen)</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!isInklVermoegen">(exkl. Rücklagen)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-md col-sm-12 col-xs-12">
        <div class="row" echarts [options]="chartOptionEntwicklung"></div>
      </div>
      <div class="col-md col-sm-12 col-xs-12">
        <div class="row table">
          <table>
            <thead>
              <tr>
                <th>Monat</th>
                <th>Vermögen</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of label">
                <td>{{ item }}</td>
                <td>{{ this.mainData.get(item) | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
