<div class="report-header">
  <h2>
    {{ this.report.bezeichnung }}
  </h2>
  <span>
    <button
      mat-raised-button
      class="m-1"
      [routerLink]="['/report/edit/', this.report.id]"
    >
      Bearbeiten
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-raised-button class="m-1" (click)="delete()">
      Löschen
      <mat-icon>delete</mat-icon>
    </button>
  </span>
</div>

<div
  class="row app-border report-row"
  *ngFor="let reportRow of this.report.reportRows"
>
  <div class="col" *ngFor="let reportItem of reportRow.reportItems">
    <div *ngIf="reportItem?.reportWidget">
      <app-report-widget-wrapper
        class="m-1"
        [reportWidget]="reportItem.reportWidget"
      ></app-report-widget-wrapper>
    </div>
  </div>
</div>
