<div *ngIf="!loaded" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<ng-container [ngSwitch]="reportWidget">
  <app-report-widget-monatsauswahl
    *ngSwitchCase="1"
  ></app-report-widget-monatsauswahl>
  <app-report-widget-monatsbilanz
    (loaded)="loadedEvent($event)"
    *ngSwitchCase="2"
  ></app-report-widget-monatsbilanz>
  <app-report-widget-monatsausgaben
    (loaded)="loadedEvent($event)"
    [config]="reportConfig"
    *ngSwitchCase="3"
  ></app-report-widget-monatsausgaben>
  <app-report-widget-monatsdauerauftraege
    (loaded)="loadedEvent($event)"
    *ngSwitchCase="4"
  ></app-report-widget-monatsdauerauftraege>
  <app-report-widget-monatsbuchungen
    (loaded)="loadedEvent($event)"
    *ngSwitchCase="5"
  ></app-report-widget-monatsbuchungen>
  <app-report-widget-vermoegen
    (loaded)="loadedEvent($event)"
    [config]="reportConfig"
    *ngSwitchCase="6"
  ></app-report-widget-vermoegen>
  <app-report-widget-entwicklung-bilanz
    (loaded)="loadedEvent($event)"
    *ngSwitchCase="7"
  ></app-report-widget-entwicklung-bilanz>
  <app-report-widget-entwicklung-vermoegen
    (loaded)="loadedEvent($event)"
    [config]="reportConfig"
    *ngSwitchCase="8"
  ></app-report-widget-entwicklung-vermoegen>
  <app-report-widget-entwicklung-vermoegen-bilanz
    (loaded)="loadedEvent($event)"
    *ngSwitchCase="9"
  ></app-report-widget-entwicklung-vermoegen-bilanz>
</ng-container>
