<ng-container [ngSwitch]="reportWidget">
  <app-report-widget-monatsauswahl
    *ngSwitchCase="1"
  ></app-report-widget-monatsauswahl>
  <!-- <app-widget-jahresauswahl *ngSwitchCase="2"></app-widget-jahresauswahl>
  <app-widget-vermoegen *ngSwitchCase="3"></app-widget-vermoegen>
  <app-widget-bilanz *ngSwitchCase="4"></app-widget-bilanz>
  <app-widget-ausgaben-verteilung
    *ngSwitchCase="5"
  ></app-widget-ausgaben-verteilung>
  <app-widget-verbrauch *ngSwitchCase="6"></app-widget-verbrauch> -->
</ng-container>
