<h2 mat-dialog-title>Wählen Sie ein Widget.</h2>

<mat-dialog-content>
  <h3>Steuerelemente</h3>

  <div class="row">
    <mat-card class="col m-2 mat-card-link" (click)="save(1)">
      <mat-card-header>
        <mat-card-title>Monatsauswahl</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-icon>calendar_today</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>

  <h3>Graphen</h3>

  <div class="row">
    <mat-card class="col m-2 mat-card-link" (click)="save(2)">
      <mat-card-header>
        <mat-card-title>Bilanz (Monat)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-icon>bar_chart</mat-icon>
      </mat-card-content>
    </mat-card>
    <mat-card class="col m-2 mat-card-link" (click)="save(3)">
      <mat-card-header>
        <mat-card-title>Ausgabenverteilung (Monat)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-icon>donut_large</mat-icon>
      </mat-card-content>
    </mat-card>
    <mat-card class="col m-2 mat-card-link" (click)="save(7)">
      <mat-card-header>
        <mat-card-title>Entwicklung Bilanz</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-icon>show_chart</mat-icon>
      </mat-card-content>
    </mat-card>
    <mat-card class="col m-2 mat-card-link" (click)="save(8)">
      <mat-card-header>
        <mat-card-title>Entwicklung Vermögen</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-icon>show_chart</mat-icon>
      </mat-card-content>
    </mat-card>
    <mat-card class="col m-2 mat-card-link" (click)="save(9)">
      <mat-card-header>
        <mat-card-title>Entwicklung Bilanz / Vermögen</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-icon>stacked_line_chart</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>

  <h3>Listen</h3>

  <div class="row">
    <mat-card class="col m-2 mat-card-link" (click)="save(4)">
      <mat-card-header>
        <mat-card-title>Daueraufträge (Monat)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-icon>table_chart</mat-icon>
      </mat-card-content>
    </mat-card>

    <mat-card class="col m-2 mat-card-link" (click)="save(5)">
      <mat-card-header>
        <mat-card-title>Buchungen (Monat)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-icon>table_chart</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>

  <h3>Werte</h3>

  <div class="row">
    <mat-card class="col m-2 mat-card-link" (click)="save(6)">
      <mat-card-header>
        <mat-card-title>Aktuelles Vermögen</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-icon>money</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
