<!-- Navigation -->
<div class="row">
  <div class="col" align="center">
    <button
      class="m-1"
      mat-raised-button
      color="primary"
      (click)="loadBefore()"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>
    <mat-form-field style="width: 0px; visibility: hidden">
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker
        #picker
        startView="multi-year"
        (monthSelected)="chosenMonthHandler($event, picker)"
      >
      </mat-datepicker>
    </mat-form-field>
    <button
      class="m-1"
      mat-raised-button
      color="primary"
      (click)="picker.open()"
    >
      Monat auswählen
    </button>
    <button class="m-1" mat-raised-button color="primary" (click)="loadNext()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>

<div class="row">
  <div class="col" align="center">
    <h2>{{ currentMonth }} / {{ currentYear }}</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <table mat-table [dataSource]="data">
      <ng-container matColumnDef="buchungstag">
        <th mat-header-cell *matHeaderCellDef>Buchungstag</th>
        <td mat-cell *matCellDef="let element" (click)="edit(element)">
          {{ element.buchungstag | date: "d.MM" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="kategorie">
        <th mat-header-cell *matHeaderCellDef>Kategorie</th>
        <td mat-cell *matCellDef="let element" (click)="edit(element)">
          <mat-icon>{{ element.kategorie?.icon }}</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="bezeichnung">
        <th mat-header-cell *matHeaderCellDef>Bezeichnung</th>
        <td mat-cell *matCellDef="let element" (click)="edit(element)">
          {{ element.bezeichnung }}
        </td>
      </ng-container>

      <ng-container matColumnDef="betrag">
        <th mat-header-cell *matHeaderCellDef>Betrag</th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="element.isEinnahme ? 'einnahme' : 'ausgabe'"
          (click)="edit(element)"
        >
          {{ element.isEinnahme ? "" : "-" }}{{ element.betrag | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef align="right"></th>
        <td mat-cell *matCellDef="let element" align="right">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit(element)">
              <mat-icon>edit</mat-icon>
              <span>Bearbeiten</span>
            </button>
            <button mat-menu-item (click)="delete(element)">
              <mat-icon>delete</mat-icon>
              <span>Löschen</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
  </div>
</div>
