<h2>Datenverwaltung</h2>

<div class="row m-2">
  <mat-card class="col m-2 mat-card-link" routerLink="kategorie">
    <mat-card-header>
      <mat-card-title>Kategorie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-icon>folder</mat-icon>
    </mat-card-content>
  </mat-card>

  <mat-card class="col m-2 mat-card-link" routerLink="buchung">
    <mat-card-header>
      <mat-card-title>Buchung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-icon>insert_drive_file</mat-icon>
    </mat-card-content>
  </mat-card>

  <mat-card class="col m-2 mat-card-link" routerLink="dauerauftrag">
    <mat-card-header>
      <mat-card-title>Dauerauftrag</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-icon>loop</mat-icon>
    </mat-card-content>
  </mat-card>
</div>

<div class="row m-2">
  <mat-card class="col m-2 mat-card-link" routerLink="gutschein">
    <mat-card-header>
      <mat-card-title>Gutschein</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-icon>card_giftcard</mat-icon>
    </mat-card-content>
  </mat-card>

  <mat-card class="col m-2 mat-card-link" routerLink="ruecklage">
    <mat-card-header>
      <mat-card-title>Rücklagen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-icon>savings</mat-icon>
    </mat-card-content>
  </mat-card>
</div>

<h2>Konfiguration</h2>

<div class="row m-2">
  <mat-card class="col m-2 mat-card-link" routerLink="konfiguration">
    <mat-card-header>
      <mat-card-title>Konfiguration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-icon>settings</mat-icon>
    </mat-card-content>
  </mat-card>
</div>

<h2>Report</h2>

<app-report-overview></app-report-overview>
